name: Build iOS App

on:
  workflow_dispatch:
  push:
    branches:
      - main  # 或者你的主分支名
  pull_request:
    branches:
      - main

jobs:
  ios:
    runs-on: macos-latest

    steps:
      - name: 代码迁出
        uses: actions/checkout@v4

      - name: 安装Flutter
        if: steps.cache-flutter.outputs.cache-hit != 'true'
        uses: subosito/flutter-action@v2.10.0
        with:
          cache: true
          flutter-version: 3.24.0

      - name: flutter build ipa
        run: |
          flutter build ios --release --no-codesign
          cd build/ios/iphoneos
          xcrun -sdk iphoneos PackageApplication -v "${PWD}/Runner.app" -o "${PWD}/app.ipa"
          mv app.ipa ../../../build/app.ipa  

      - name: 上传 Artifact
        if: always()
        uses: actions/upload-artifact@v3
        with:
          name: Release
          path:  build/app.ipa
